input {
    font-size: 120%;
    color: #5a5854;
    background-color: pink;
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    padding: 5px 5px 5px 30px; 
    background-repeat: no-repeat;
background-position: 5px 2px; 
background-image: url('fb.png');
background-size: 25px 25px;
}
input:focus{
    border: 1px solid red;
    border-radius: 15px;
    outline: none;
}
input::placeholder{
    color: white;
    padding-left: 41px;
}
button{
    color: white;
    height: 50px;
    width: 120px;
    background-color: lightcoral;
    border: 2px solid #5a5854;
    box-shadow: 1px 1px 1px rebeccapurple ;
}